body{
    display: flex;
    justify-content: center;
    align-items: center ;
    
}



#mainDiv{
    border: solid black 1px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.grid{
    border: solid black 1px;
    box-sizing: border-box;
    
    
}